
{{#each blogs as |blog|}}
<div class="card mx-auto w-75" id="{{blog.id}}">
  <h5 class="card-header d-flex justify-content-between">
     <p>{{blog.title}}</p>  
    <div> 
      <span>{{blog.user.name}}</span> 
      <p>{{blog.date_created}}</p>
    </div>
  </h5>
  <div class="card-body">
    <p class="card-text">{{blog.text_content}}</p>
  </div>
</div>
{{/each}}
<script src="./js/homepage.js"></script>